In [13]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [11]:
print("Hello Devlopers")

Hello Devlopers

In [14]:
#numpy
lst=[1,2,3,4,5,6,7,8,9]

In [16]:
%timeit [ i**2 for i in lst]

2.38 µs ± 25.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [17]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [18]:
import numpy as np

In [19]:
arr = np.array(lst)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [20]:
%timeit arr ** 2

643 ns ± 195 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [22]:
arr1 = np.random.randint(0,100, size = (5,6))
arr1

array([[29, 70, 75, 32,  9, 60],
       [64, 39, 76, 56, 37, 71],
       [56, 15, 84, 53, 20,  4],
       [ 6, 12, 87, 87, 99, 48],
       [50, 43, 68, 86, 59, 58]])

In [23]:
!pip install pandas|

/bin/bash: -c: line 1: syntax error: unexpected end of file

In [24]:
import pandas as pd

In [25]:
df = pd.DataFrame(data = arr1)
df

    0   1   2   3   4   5
0  29  70  75  32   9  60
1  64  39  76  56  37  71
2  56  15  84  53  20   4
3   6  12  87  87  99  48
4  50  43  68  86  59  58